* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 70%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Header*/

header {
  padding: 60px;
  text-align: center;
  color: #ffffff;
  background-image: url(/assets/images/chernobyl-3711315_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tag-line {
  background-color: #000;
  width: 250px;
  margin: auto;
  padding: 2px 0 2px 0;
}

/*Main*/

/*Nav*/

nav {
  display: flex;
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 1; /*Stops Google maps overlapping sticky navbar when scrolling*/
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 10px;
}

nav a:hover {
  background-color: #dddddd;
  color: #000000;
}

/*Main container*/

.main-content {
  background-color: #ffffff;
  padding: 20px;
  justify-content: center;
  margin: auto;
}

/*Cards*/

.card-container {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 15px 15px 0 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

.card-text {
  padding: 15px;
}

.card-image {
  width: 100%;
}

/*Map*/

div#map {
  min-height: 600px;
  margin: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Footer*/

footer {
  padding: 15px;
  text-align: center;
  background: #ffffff;
}

footer a {
  font-size: 20px;
  color: #000000;
  padding: 0px 10px;
  text-decoration: none;
  text-align: center;
}

footer a:hover {
  color: #999999;
}

/*Form*/
/*w3schools tutorial used for help formatting a form using only CSS*/

input[type="text"],
input[type="email"],
textarea {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
}

input[type="submit"] {
padding: 3px 10px;
font-size: 15px;
margin-top: 10px;
cursor: pointer;
}


/*Media queries*/

/*Cards stack and border shows under each card*/
/*Removes images from cards on small screens*/
@media screen and (max-width: 576px) {
  .card-container {
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px;
  }

  .card {
    width: 100%;
  }

  .card-image {
    visibility: hidden;
    display: none;
  }
}

/*Stacks nav bar and main content*/
@media (max-width: 992px) {
  main {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    position: static;
  }

  nav a {
    text-align: center;
  }

  div#map {
    min-height: 450px;
    margin: 5px 10px 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

input[type="text"],
input[type="email"],
textarea {
  width: 100%;

}

/* Fills viewport on anything smaller than 110px/large desktop */
@media screen and (max-width: 1100px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;
    margin: auto;
  }
}
